<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
</head>
<body>
    <div style="text-align: center; margin-top: 100px;">
        <h1>There is a problem with your Messenger DSN api key</h1>
        <p>Please check your Messenger configuration and try again.</p>
        
        <a href="{{ path('app_forgot_password_request') }}">
            <button style="padding: 10px 20px; background-color: #007BFF; color: #fff; border: none; cursor: pointer;">Go back to Forgot Password</button>
        </a>
    </div>
</body>
</html>