
{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Home</h1><br>
<div><a href={{ path('app_reservation') }}>Make or check an existing reservation</a></div>
{% endblock %}