<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reservation download pdf</title>
    <style>

        body {
            /*background-color: #f5f5f5;*/

        }
        .card {
            
            background-color: #f8f9fa;
            border: 2px solid #007bff;
            border-radius: 10px;
            margin: 20px;
            padding: 20px;

            position: absolute;
            left: 30%;
            transform: translateX(-50%);

            width: 400px;
            
        }
        .card-title {
            color: #007bff;
            font-size: 2rem;
        }
        .lead {
            color: #343a40;
            font-size: 1.5rem;
        }
        .container {
            max-width: 600px;
            position: relative;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Reservation Complete</h1>
                        <p class="lead">Your Serial Code: <span>{{ customer.reservationCode }}</span></p>
                        <p class="lead">Your Appointment Time: <span>{{ customer.appointmentTime|date('Y-m-d H:i:s') }}</span></p>
                        <p class="lead">Time Left until your appointment:<br> <span><b>{{ customer.TimeBeforeAppointment }} </b></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>