{% extends 'base.html.twig' %}

{% block title %}Display{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <meta http-equiv="refresh" content="5">
                    <h1 class="display-4">Display</h1>
                    
                    <h2>Current Visitors</h2>
                    <ul class="list-group">
                        {% for current_visitor in current_visitors %}
                            <li class="list-group-item">{{ current_visitor.reservationCode }}</li>
                        {% endfor %}
                    </ul>
                    
                    <h2>Upcoming Visitors</h2>
                    <ul class="list-group">
                        {% for upcoming_visitor in upcoming_visitors %}
                            <li class="list-group-item">{{ upcoming_visitor.reservationCode }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

